
    #conteudo {
        background-image: url(https://i.pinimg.com/564x/9d/89/45/9d894550a1e73e63762347b6718ff9c5.jpg);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px;
        text-align: center;
        font-family: sans-serif;
    }
    .cont{
        align-items: center;
        padding: 10px;
    }

    .btn {
        background: black;
        color: white;
        border: none;
        padding: 10px;
        width: 80px;
        border-radius: 5px;
    }

    
